// your style goes here

// 覆盖字体路径变量，以防止编译出错
// 1.0.0-rc.1 有点小问题，需要手动删掉
//    node_modules/amazeui-touch/scss/amazeui.touch.scss 中的 `$ratchicons-path: 'fonts/';` 这一行
// @see https://github.com/jtangelder/sass-loader#problems-with-url
$ratchicons-path: "../../node_modules/amazeui-touch/fonts/";
$global-success: #6cbb52;

// base styles.
@import "~amazeui-touch/scss/amazeui.touch.scss";

// 启动页 + 启动登录页面样式
@import "./startup.scss";

// 登录页面
@import "./login.scss";

// 初始化用户页面
@import "./init.scss";

// 用户相关样式
@import "./user.scss";

// 主要样式
@import "./main.scss";

@supports(-webkit-backdrop-filter: none) {
  [filter-bg-fff],
  .filter-bg-fff {
    background: rgba(255, 255, 255, .8) !important;
    background-color: rgba(255, 255, 255, .8) !important;
    -webkit-backdrop-filter: brightness(1.5) blur(10px);
    backdrop-filter: brightness(1.5) blur(10px);
  }
}

/* Container `fade` 动画示例 */
.view-transition-fade-enter {
  opacity: 0.01;
}

.view-transition-fade-enter.view-transition-fade-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in;
}

.view-transition-fade-leave {
  opacity: 1;
}

.view-transition-fade-leave.view-transition-fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.g-bordered > .col:after, .navbar:after {
  border-bottom-color: $global-success;
}

.navbar-nav-item {
  color: $global-success;
}

.btn {
  border-radius: 6px;
}

.hidden {
  display: none;
}


// 下拉刷新样式
.ptr {
  min-height: 100%;
  .ptr-element {
    margin-top: -24px;
    height: 24px;
    .loading {
      display: none;
    }
    .genericon {
      display: block;

      .down {
        display: block;
      }

      .up {
        display: none;
      }
    }
  }

  &.ptr-refresh {
    .ptr-element .genericon {
      .down {
        display: none;
      }

      .up {
        display: block;
      }
    }
    .loading {
      display: none;
    }
  }

  &.ptr-loading {
    .ptr-element {
      margin-top: 0;

      .genericon {
        display: none;
      }
    }
    .loading {
      display: block;
    }
  }

  .refresh-view {
    min-height: 100%;
  }

}
