.main-tab-bar {
  background-color: #fff;

  &.tabbar, .tabbar a {
    color: #949494;
  }

  &.tabbar > .active,
  &.tabbar > .active a {
    color: #6cbb52;
  }
}

.main-nav-bar {

  &:after {
    border-bottom-color: transparent !important;
  }

  .main-nav-bar-tab {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;

    > * {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: center;
      flex-direction: column;
      position: relative;

      &.active {
        span {
          display: block;
        }
      }
    }

    span {
      display: none;
      height: 3px;
      width: 100%;
      background-color: #FFF;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .navbar-title {
    height: 100%;
  }

}

.edu-feed {

  .line {
    width: 200%;
    height: 1px;
    margin-left: -90%;
    background-color: #ddd;
  }

  .bar-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .arrow-line {
      width: 1px;
      overflow: hidden;
      background-color: #949494;
      padding: 0;
      margin: 0 1rem;
      border-radius: 50%;
    }

    .button-box {
      width: 100%;
      font-size: 16px;
      // font-weight: lighter;
      display: flex;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      color: #949494;
    }
  }
}
