// 启动引导检查页面
.startup {
  background-image: url(../images/startup.png);
  background-size: cover;
  background-position: center;

  .loading {
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 20%;
    text-align: center;
  }
}

// 启动引导页面完成，未登录的登录界面。
.startup-login {
  background-image: url(../images/login-background.png);
  background-size: cover;
  background-position: center;

  .logo {
    width: 6em;
    height: 6em;
    padding: 0;
    margin: 45% auto 0 auto;
    border-radius: 10%;
    background-color: #6cbb52;

    img {
      box-shadow: #6cbb52 0px 10px 40px 6px;
      border-radius: 10%;
    }
  }

  .bottom-login-box {
    width: 100%;
    height: 30%;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    box-shadow: #ebebeb 0px 0px 10px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .dindin-button-box {
      width: 60%;
      height: 30%;
      max-width: 414px;
      max-height: 220.8px;

      margin-bottom: 20px;

      background-image: url(../images/dindin-login-button.png);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
